.ajustes {
    align-items: center;
}
.agrandar-icono {
    font-size: 105px;
    padding-top: 1px;
}
.card-text {
    max-width:540px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-title {
    max-width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-body {
    text-align: center;
}
.barra-filtros {
    text-align: start!important;
    display: flex;
}
.btn {
    --bs-btn-border-width: 0px;
}
.img-preview {
    max-width: 170px;
    height: 100px;
    margin-bottom: 5px;
}
.row {
    --bs-gutter-x: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.agregar {
    align-self: center;
}
.formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 70px 175px 100px 225px;
    grid-gap: 20px;
}
.imagen {
    grid-column: 4/5;
    grid-row: 4/5;
}
.vistaprevia {
    grid-row: 1/4;
    grid-column: 4/5;
    background-color: gray;
    width: 100;
    height: auto;
}
@supports(object-fit: cover) {
    .vistaprevia {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.lblnombre {
    grid-column: 1/2;
    grid-row: 1/2;
}
.inpnombre {
    grid-column: 2/3;
    grid-row: 1/2;
}
.lblprecio {
    grid-column: 1/2;
    grid-row: 2/3;
}
.inpprecio {
    grid-column: 2/3;
    grid-row: 2/3;
}
.lblestado {
    grid-column: 1/2;
    grid-row: 4/5;
}
.estado {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0px 0px 0px 53px;
}
.lblcant {
    grid-column: 1/2;
    grid-row: 3/4;
}
.inpcant {
    grid-column: 2/3;
    grid-row: 3/4;
}
.ltunidades {
    grid-column: 3/4;
    grid-row: 3/4;
}
.oculto {
    display: none;
}