@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body{
  display: block;
  justify-content: left;
  background: beige;
}
nav {
background: white;
height: 80px;
position: relative;
box-shadow: 15px 5px 15px rgba(0,0,0,0.2);
width: 100vw;
}
.container-top {
  display: inline-flex;
  max-width: 100vw;
  z-index: 100;
  align-items: center;
}
.container {
  background: white;
  margin-top: 15px;
  box-shadow: 15px 5px 15px rgba(0,0,0,0.2);
}
.row {
  margin: auto;
}
.material-symbols-outlined {
  display: block;
}